
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    margin: 100px auto;
    border: 5px;
    border-style: solid;
    border-color: blue;
    padding: 10px;
    
}



.title {
    margin: auto;
    text-align: center;
}

label {
    margin: 15px 0px;
}

.submit {
    margin: 15px auto;
    width: 300px;
}