@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@keyframes titleBlink {
    0% {color: white;}
    50% {color: #EB0024 ;}
    100% {color: white;}
}

* {
    margin      : 0;
    padding     : 0;
    color       : #223133;
    font-family : 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html, body {
    background-color : #E3E3E3;
    height           : 100%;
    width            : 100%;
}


#header {
    display         : flex;
    height          : 150px;
    justify-content : space-between;
    align-items     : center;
    
}

.navbar {
    display        : inline;
    text-transform : capitalize;
    font-size      : 1rem;
    padding        : 50px;
    
}

a {
    text-decoration : none;
    cursor          : pointer;
}

.navbar ul li {
    cursor : pointer;
}

#nav-bar {
    display         : flex;
    justify-content : space-evenly;
    margin-right    : 100px;
}


#header-image {
    height      : 3rem;
    width       : auto;
    margin-left : 100px;
}



#nord {
    max-width : 700px;
    height    : auto;
    margin    : auto;

}

.grid {
    display               : grid;
    grid-template-columns : 50% 50%;
    grid-template-rows    : 60% 40%;
    grid-template-areas   : 
        "text image"
        "buttons image";
}

.productImage {
    grid-area : image;

}

.productText {
    grid-area : text;
}

#productTitle {
    text-align : center;
    margin-top : 10px;
    font-size  : 48px;
}


.presenting {
    font-size : 30px;
}

.productButtons {
    grid-area    : buttons;
    justify-self : center;
    margin-top   : -50px;
}

.buyNow {
    margin-right     : 25px;
    padding          : 10px 40px;
    font-size        : 1rem;
    background-color : #EB0024;
    color            : white;
    border-radius    : 10px;
    border           : none;
}

.seeOffers{
    padding          : 10px 40px;
    font-size        : 1rem;
    background-color : #252E37;
    color            : white;
    border-radius    : 10px;
    border           : none;
}

.videoContainer{
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    background-color : #181C14;
    margin-top       : 180px;
    width            : 100%;
}

.videoTitle{
    text-transform            : capitalize;
    text-align                : center;
    color                     : white;
    font-size                 : 60px;
    margin                    : 50px auto;
    animation-name            : titleBlink;
    animation-duration        : 2s;
    animation-iteration-count : infinite ;
    letter-spacing: 5px;

}

#specs {
    display               : grid;
    grid-template-columns : 50% 50%;
    background-color: #181C14;

   
}

#specs h2 {
    
    vertical-align: center;
    margin         : auto auto;
    font-size      : 3rem;
    text-transform : uppercase;
    color: white;
    letter-spacing: 5px;

}

#specs ul{
    margin      : 50px auto;
    width       : max-content;
    line-height : 50px;

}

#specs ul li {
    color: white;
}

#video {
    margin-bottom : 50px;
}

#about h2 {
    margin         : 50px auto;
    text-align: center;
    font-size      : 3rem;
    text-transform : uppercase;
    letter-spacing: 5px;

}

#about p {
    margin: 50px 200px;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 40px;
}

#price {
    display               : grid;
    grid-template-columns : 50% 50%;
}

#price h2 {
    vertical-align : middle;
    margin         : auto auto;
    font-size      : 3rem;
    text-transform : uppercase;
    letter-spacing: 5px;
}

#price p {
    text-align: justify;
    margin: 100px 150px;
    line-height: 100px;
    font-size: 1.2rem;
}

footer {
    font-style: italic;
    text-align: center;
    background-color: #1B0024 ;
    color: white;
    padding: 15px;
    
}